html{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #60a9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.panel{
    background-color: white;
    border-radius: 0.625em;
    padding: 0.9375em 1.5625em;
    width: 100%;
    max-width: 60em;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
}

.pricing-plan{
    border-bottom: 0.0625em solid #e1f1ff;
}

.pricing-plan:last-child{
    border-bottom: none;
}

.pricing-img{
    margin: 1.5625em;
    max-width: 100%;
}

.pricing-header{
    font-weight: 600;
    letter-spacing: 0.0625em;
    color: #888;
}

.pricing-features{
    margin: 3.125em 0 1.5625em;
    color:#016ff9;
}

.pricing-features-item{
    font-weight: 600;
    letter-spacing: 0.0625em;
    font-size:  0.75em;
    line-height: 1.5;
    padding: 0.9375em 0;
    border-top: 0.0625em solid #e1f1ff;
}

.pricing-features-item:last-child{
    border-bottom: 0.0625em solid #e1f1ff;
}

.pricing-price{
    color:#016ff9;
    display: block;
    font-size: 2em;
    font-weight: 700;
}

.pricing-button{
    border: 0.0625em solid #9dd1ff;
    border-radius: 0.625em;
    color: #348efe;
    display: inline-block;
    padding:  0.9375em 2.1875em;
    text-decoration: none;
    margin:  1.5625em;
    transition: background-color 200ms ease-in-out;
}

.pricing-button:hover, .pricing-button:focus{
    background-color: #e1f1ff;
}

.pricing-button.is-featured{
    background-color: #48aaff;
    color: white;
}

.pricing-button.is-featured:hover,.pricing-button.is-featured:focus{
    background-color: #269aff;
    color: white;
}

@media (min-width:900px){
    .panel{
        flex-direction: row;
    }
    .pricing-plan{
        border-bottom: none;
        border-right: 0.0625em solid #e1f1ff;
        padding: 1.5625em 3.125em;
    }
    .pricing-plan:last-child{
        border-right: none;
    }
}

@media (max-width:900px){
    body{
        background-color: white;
    }
}